{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
    <table class="table table-hover">
        <thead>
          <tr>

            <th scope="col">Symbol</th>
            <th scope="col">Price</th>
            <th scope="col">Shares</th>
            <th scope="col">Transacted</th>
          </tr>
        </thead>

        <tbody>
           {% for transaction in transactions %}
             <tr>

               <td>{{transaction["symbol"]}}</td>
               <td>{{transaction["price_per_share"]}}</td>
               <td>{{transaction["shares"]}}</td>
               <td>{{transaction["created_at"]}}</td>
             </tr>
            {% endfor %}

        </tbody>
      </table>
{% endblock %}